 .Movies {

  flex-flow: row wrap;
  justify-content: center;
  width: 80%;
  margin: 100px auto auto auto;

}

.MovieCard {
  width: 250px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;

}


.PostCard:hover,
.PostCard:active {
  background-color: #eee;
}

.Author {
  margin: 16px 0;
  color: #ccc;
}